
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
.main {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: fit-content;
  
    display: flex;
  }
  
  .logo img {
    width: 150px;
    margin-left: 700px; 
    margin-top: 20px;
   
  }
  
  .Merchant-Registration {
    color: white;
    margin-top: 60px;
   
   padding-left: 400px;
  }
  
  .form-page {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .form-page input {
    width: 100%;
    padding: 8px;
    margin-top: 20px;
    border-radius: 8px;
  }
  
  .btn {
    width: 100%;
    padding: 8px;
    background: #fe7720;
    color: white;
    border: none;
    border-radius: 8px;
  }
  /* Style for the container of the phone input */
.phone-input-container {
  position: relative;
  width: 100%;
}

/* Style for the input field */
.phone-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for the flag container */
.phone-flag-container {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

/* Style for the flag image */
.phone-flag {
  width: 20px; /* Adjust the width as needed */
  height: auto;
}

/* Style for the arrow icon */
.phone-arrow-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
